Repository Agrover112/awesome-semantic-search, changes with the labels that .github/labeler.yml gives for each.
All labels: English, Hindi, Spanish

.github/labeler.yml:

# Add labels based on what README file language is being contributed to
English: README.md
Hindi: README_Hindi.md
Spanish: README_Spanish.md

Remove duplicate entry
  README.md
Labels: English

feat: Added embeddinghub
  README.md
Labels: English

feat: AAISNNL paper
  README.md
Labels: English

feat: Sync forks
  .github/workflows/sync.yml
Labels: none

Update README.md
  README.md
Labels: English

Update README.md
  README.md
Labels: English

Update README.md
  README.md
Labels: English

Added papers related to Indexing
  README.md
Labels: English

parth-gpt
  README_French.md
Labels: none

Update README_French.md
  README_French.md
Labels: none

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

updating-readme
  README_Hindi.md
Labels: Hindi

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

Added NeuroNLP++
  README.md
Labels: English

Added new entry to tools/libraries
  README.md
Labels: English

feat: Added pinecone
  README.md
Labels: English

1-letter commit - fix a typo
  README.md
Labels: English

feat: Added pynndescent and ann-benchmarks
  README.md
Labels: English

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

Update README_Hindi.md
  README_Hindi.md
Labels: Hindi

feat: Added Gairola WACV paper
  README.md
Labels: English

feat: Added OpenAi embeddings
  README.md
Labels: English

feat: Added DeCLUTR paper & fix modality
  README.md
Labels: English

fix: Updated contribution request
  README.md
Labels: English

feature/add_relevance_ai
  README.md
Labels: English

feat: Added emoji semantic search
  README.md
Labels: English

Update README.md
  README.md
Labels: English

Added Hindi STS paper
  README.md
Labels: English

feat: Added first paper in Speech domain 🥳
  README.md
Labels: English

Update urlchecker.yml
  .github/workflows/urlchecker.yml
Labels: none

Update README.md
  README.md
Labels: English

Update README.md
  README.md
Labels: English

feat: Added funding otions
  .github/FUNDING.yml
Labels: none

feat: Added GPL 2021
  README.md
Labels: English

feat: Added Generative Search Engine: Initial Experiments
  README.md
Labels: English

feat: Nov-1 updates
  README.md
Labels: English

feat: Added Rethinking Retrieval with LLM
  README.md
Labels: English
